@import url('https://fonts.googleapis.com/css2?family=Asap&family=Montserrat&family=Roboto&display=swap');
#imagem-esquerda{
    width: 85%;
    margin: 3em
}

#conteiner-informacao{
    display: grid;
    grid-template-columns: repeat(2,1fr);/*dividiu em 2 coluna*/ 
}
aside{
    padding: 0 25px;
    margin-top: 3em;
}

h5{
    text-align: center;
    font-size: 3em;
    font-family:Arial, Helvetica, sans-serif;
    color: #16B8CC;
    padding: 20px;
}

strong{
    color:#16B8CC;
    margin-left: 1em;
    font-size: 20px;
}

p{
    color: #fff;
    padding: 5PX 0;
}


