*{/*essa parte faz o resete do padrão da página*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul {/*aqui tira os ponto que fica antes dos itens*/
    list-style: none;
}

.carrossel{
    margin: 0 auto;
    width: 100vw;
    padding: 0;
    overflow: hidden;
}

.conteiner-carrossel{
    width: 500vw;
    display: flex;
    flex-direction: column;
}

.nav-imagens{
    display: flex;
}
.conteiner-carrossel input,.conteiner-carrossel .nav-auto {
    display: none;
}

.imagem{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.imagem img{
    width: 100%;
    height: 25em;
}

.nav-manual{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.nav-manual .manual-btn{
    background-color: #16151d;
    padding: 8px;
    cursor: pointer;
    min-width: 10em;
}
.manual-btn{    
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;

    letter-spacing: 0.15s;
    background-image: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 90%,
        #16B8CC 90%,
        #16B8CC 100%
     );
     background-repeat: no-repeat;
     background-size: 0% 100%;
     background-position-x: right;
     transition: background-size 300ms;
}

.manual-btn:hover{
    background-size: 100% 100%;
    background-position-x: left;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3, #radio4:checked ~ .nav-auto .auto-btn4, #radio5:checked ~ .nav-auto .auto-btn5{
    background-color: #16B8CC;
}          /*essa linha significa que quando radio1 tiver marcado quero que aconteça algo com as classe marcadas*/

#radio1:checked ~ #primeira{
    margin-left: 0%;
}
#radio2:checked ~ #primeira{
    margin-left: -25%;
}
#radio3:checked ~ #primeira{
    margin-left: -50%;
}
#radio4:checked ~ #primeira{
    margin-left: -75%;
}
#radio5:checked ~ #primeira{
    margin-left: -100%;
}

.item1:checked ~ #primeira{
    margin-left: 0%;
}