@import url('https://fonts.googleapis.com/css2?family=Asap&family=Montserrat&family=Roboto&display=swap');


*{/*essa parte faz o resete do padrão da página*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul {/*aqui tira os ponto que fica antes dos itens*/
    list-style: none;
}

body{/*aqui coloquei fundo preto*/
    background-color: #000;
}

nav{
    height: 4em;
    display:flex;
    flex-direction: row;/*aqui coloquei um display flex e para garantir que ia ficar em linha coloquei um row*/
    justify-content: space-between;/*aqui eu separei eles para ficar um a esquerda outro no meio e outro a direita*/
}

.logo{
    height: 4em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.botao-cabecalho{
    white-space: nowrap;
    color: #0BA0B2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em; 
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 1.2em;
    border: none; /*aqui ele tirou uma bordinha branca que estava aparecendo*/
    text-decoration: none;/*tira a linha debaixo da ancora*/
}

.botao-cabecalho:hover{
    color: #16B8CC;
    font-size: 1.3em;
    cursor: pointer;
}

.conteiner-externo{
    display: flex;
}
.conteiner-galeria{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1em;
}

.item-galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    width: 15em;
    margin: 15px 10px;
}

.item-galeria img{
    width: 100%;
    height: 100%;
    border-radius: 2vh;
}

.titulo{
    color: #0BA0B2;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 1.1em;
}

.coluna-lateral{
    background-color: #ffffff;
    height:min-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: space-between;
    width: 30vw;
    margin-top: 30px;
    padding-left: 0.5px;
    gap: 0.5px;
}

.conteiner-mais-lidos{
    background-color: #000;
    height: auto;
    width: 30vw;
}

.titulo-lateral{
    text-align: center;
    font-size: 0.8em;
    font-family: 'Roboto',sans-serif;
    padding-top: 0.7em;
    color: #16B8CC;
}

.lista-mais-lidos{
    padding: 1.2em 2.5em;
    color: white;
    font-size: 20px; /*tamanho da fonte*/
    line-height: 30px;/*espaçamento das linhas*/
}


.conteiner-melhores-site{
    background-color:  #000;
    height: auto;
    width: 30vw;
    
}

.box-link-site{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6em;
    font-size: 1.1em;
    padding: 15px;
}

.li-link-site{
    width: 100%;
    border: 1px solid white;
    text-align: center;
    height: 1.8em;
    margin: 5px 0; 
}

.link-site{
    text-decoration: none;
    color: #16B8CC;
}

.link-site:hover{
    color: aqua;
}

.conteiner-video{
    background-color: #000;
    width: 30vw;
    height: auto;
    
}

.video{
    width: 30vw;
    height: 17vw;
} 

.conteiner-rodape{
    height: 13vh;
    display: flex;
    justify-content: space-between;
}

.conteiner-rodape img{
    height: 12vh;
    padding: 1vw;
    margin-left: 3vh;
}

.conteiner-rodape img:hover{
    padding: 0vw;
}

.conteiner-rodape button{
    background-color: #000;
    border: none;
    margin-right: 1.5em;
    width: 20vh;
    height: 8vh;
    padding-top: 10px;
    cursor:pointer;
}

.conteiner-rodape button:hover{
    padding-top: 0px;
}

.texto-rodape{
    color: #ffffff;
    text-align: center;
    margin-top: 3vh;
}

