@media (max-width: 800px){

    #conteiner-informacao{
        display: flex;
        flex-direction: column;
    }
    article{
        text-align: center;
    }
    #imagem-esquerda{
        width: 60%;
        margin: 1em;  
    }
    aside{
        margin-top: 0;
        padding: 0;
    }
    iframe{
        margin-top: 10px;
    }
}

@media (max-width: 450px){
    #imagem-esquerda{
        width: 45%;
    }
    h5{
        font-size: 2em;
    }
    strong{
        font-size: 12px;
    }
    p{
        font-size: 12px;
    }
    
}